<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Post
    body
        h1 #{title}
        form(method='POST', action='/users/login')
          #form-group 
            label Login:
            input.form-control(name='username', type='text')
          //- #form-group 
          //-   label Password:
          //-   input.form-control(name='password', type='text')
          input.btn.btn-primary(type='submit', value='Log in')    