extends ./main/header.pug

block body
    .container
        .input-field.col
            input#first_name.validate(placeholder='Placeholder', type='text')
            label(for='first_name') First Name
